.active {
  font-weight: bold;
}

.emotionList {
  float:left;
  width: 100px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none;
  cursor: pointer;

}


.emotionImg {
  float: left;
  display: block;
  height: 500px;
  width: 500px;
}


.content {
  margin-left: 20%;
  margin-right: 20%;
  width: 650px;
  height: 500px;

}