.active {
  font-weight: bold;
}

.emotionList{
  float:left;
  width: 100px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none;

}


.emotionImg{
  float: left;
  display: block;
  height: 100px;
  width: 100px;
}